<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ukens Vaskeliste</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Uke <%= weekNumber %> Vaskeliste</h1>
      <ul class="cleaning-list">
        <% Object.entries(cleaningList).forEach(([person, room]) => { %>
        <li>
          <strong><%= person %></strong> skal vaske:
          <strong><%= room %></strong>.
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
