<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ukens Vaskeliste</title>
    <style>
      body {
        font-family: "Space Mono", monospace;
        display: flex;
        flex-direction: column;
        max-width: 420px;
        padding: 32px;
        margin: 60px auto;
        border: 1px solid #eee;
        border-radius: 4px;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
        background-color: #fff;
        color: #292929;
      }

      * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizelegibility;
        letter-spacing: -0.25px;
      }

      ol {
        padding-left: 50px;
      }

      li {
        color: #4f4f4f;
        padding-left: 16px;
        margin-top: 2.5rem;
        position: relative;
        font-size: 17px;
        line-height: 20px;

        &:before {
          content: "";
          display: block;
          height: 42px;
          width: 42px;
          border-radius: 50%;
          border: 2px solid #ddd;
          position: absolute;
          top: -12px;
          left: -46px;
        }

        &:nth-child(odd) {
          &:before {
            border: 2px solid #5a5a5a; /* Change to the first alternating color */
          }
        }

        &:nth-child(even) {
          &:before {
            border: 2px solid #d2ec4c; /* Change to the second alternating color */
          }
        }
      }

      strong {
        color: #292929;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Uke <%= weekNumber %> Vaskeliste</h1>
      <ol>
        <% Object.entries(cleaningList).forEach(([person, room]) => { %>
        <li>
          <strong><%= person %></strong> skal vaske:
          <strong><%= room %></strong>.
        </li>
        <% }); %>
      </ol>
    </div>
  </body>
</html>
